body {
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  /* body가 통째로 iframe인거 같다 */
  padding: 16px;
  margin: 0;
}

.container {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#input,
#namingStyle,
#suggest {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 30px; /* Consistent height for all elements */
}

#input,
#namingStyle {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
}

#suggest {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 20px; /* Vertically center the text */
}

#suggest:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.suggestion {
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgba(var(--vscode-editor-background), 0.7);
  border: 1px solid var(--vscode-panel-border);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestion button {
  background-color: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-secondaryForeground);
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  height: 24px; /* Smaller height for suggestion copy buttons */
}

.suggestion button:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}
